@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/Bebas.woff2') format('woff2'),
        url('../fonts/Bebas.woff') format('woff');
    font-display: swap;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
}
.header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar{
    max-width:1280px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item{
    margin-left:40px;
    margin-right:40px;
}
.navbar-link{
    text-decoration: none;
    color: #FFF;
}
.navbar-contacts{
    text-align: right;
}
.navbar-text{
    display: block;
    color: #FFF;
    margin: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #FFF;
}
.main{
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex;
}
.main-info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home-img path{
    opacity: 0;
    cursor: pointer;
}
.counter-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button{
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.counter-arrow-down{
    transform: rotate(180deg);
}
.main-title{
    margin: 0px;
    font-family: 'Bebas Neue Cyrillic';
    font-weight: normal;
    font-size: 37px;
    line-height: 37px;
    color: #635854;
}
.counter-floor{
    font-family: 'Bebas Neue Cyrillic';
    color: #635854;
    font-size: 124px;
    margin-top:10px;
}
.button{
    background: #3596F5;
    color: #fff;
    border-radius: 6px;
    border: 0px;
    padding: 16px 36px;
    cursor:pointer;
}
